$white: #FFFF;
$green: #51CDBC;
$gray:#F5F5F5;
$black:#2E3333;
$gray2:#ABADAD;
$darkGreen:#4D7C1B;
$gray3:#F9FAFA;


//Size of Screen

$small-screen: 600px;
$medium-screen: 1210px;
$large-screen: 1200px;