.main{
    background-color: red;
}

.middle-section {
    background-color: $gray3;
    display: flex;
    
}

.landing-section2-des1 {
    color: $gray2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.8rem;
}
.landing-section2-des2 {
    font-weight: bold !important;
    margin-top: 20px !important;
    margin-bottom: 5px !important;
}
.landing-section2-des3 {
    font-weight: bold !important;
    margin-top: 20px !important;
    margin-bottom: 5px !important;
    margin-left: 42px !important;
}

.landing-section2 {
    margin-left: 61px;
    margin-top: 20px
}

.isloading-icon{

   
    margin-top: 16px;
    margin-bottom:16px;
    display: flex;
    align-items: center;
    justify-content: center;
}