.emptyCard {
    width: 100%;
    height: 100vh;
    margin-left: 64px;
    margin-right: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
  }
  
  .emptyCard-div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .emptyCardContent {
    text-align: center;
  
  }
  
  .shoppingCartIcon {
    font-size: 48px; /* Set your desired icon size */
    color: $gray2; /* Set your desired icon color */
  }
  
  .emptyCardText {
    margin-top: 16px;
  }
  
  .bottomButton {
    background-color:$gray2 !important;
    width: 100%;
    

  }