.foodList {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    width: 1080px;
  }
  
  .leftList,
  .rightList {
    width: calc(50% - 5px);
  }
  
  .food-title{
    font-weight: bold !important;
  }
  .foodItemCard {
    margin-bottom: 10px;
    width: 130px;
    height: 258px;
    display: flex;
    flex-direction: column;

    .css-46bh2p-MuiCardContent-root {
      padding: 0px !important;
  }
  }
  
  .foodItemImage {
    width: 100%;
    height: 140px;
  }
  
  .crd-des-p1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .card-title-1 {
    font-weight: bold !important;
    margin-bottom: 10px !important;
  }
  
  .cardActions {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .cardActions button {
    width: 80%;
    height: 100%;
  }
  .foodlist-img-width{
    width: 168px !important;
  }
  .foodList-div-1{
    background-color: red;
    width: 300px;
  }